#matrix
{
	width: 400px;
	height: 400px;
	border-top: 1px solid #999;
	border-left: 1px solid #999;	
}
#matrix .cell
{
	float: left;
	width: 19px;
	height: 19px;	
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;	
}

#matrix1 .designNumb
{
	background-color: #A2D12B;
}

#matrix1 .snakeHead
{
	background: url(css/face.png) no-repeat;
}

#matrix1 .snakeHead.bulletFire
{
	background: url(css/face.png) no-repeat;
}

#matrix1 .designNumb.bulletFire
{
	background-color: #A2D12B;
}

#matrix1 .ammunition
{
	background: url(css/ammun.png) no-repeat;
}

#matrix1 .stop
{
	background: url(css/stop.png) no-repeat;
}

#matrix1 .bulletFire
{
	background: url(css/bullet.png) no-repeat;
}

#information 
{
	opacity: 1;
}
#matrix1 .fruit
{
	background: url(css/banana.png) no-repeat;
}

#matrix1 .fire
{
	background: url(css/fire.png) no-repeat;
}

#matrix1 .bomb
{
	background: url(css/bomb.png) no-repeat;
}

#matrix2 .fruit
{
	background-color: red;
}

#matrix2 .designNumb
{
	background-color: blue
}



#matrix1
{
	float: left;
	width: 400px;
	height: 400px;
	border-top: 1px solid #999;
	border-left: 1px solid #999;	
}

#matrix1 .cell
{
	float: left;
	width: 19px;
	height: 19px;	
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;	
}

#matrix1 .on
{
	background-color: red;
}

#matrix2
{
	float: left;
	margin-left: 10px;
	width: 200px;
	height: 200px;
	border-top: 1px solid red;
	border-left: 1px solid red;	
}

#matrix2 .cell
{
	float: left;
	width: 19px;
	height: 19px;	
	border-bottom: 1px solid red;
	border-right: 1px solid red;	
}

#matrix2 .on
{
	background-color: #999;
}
